<div class="browse-metadats">
{{#each metadats}}
  <div class="metadat">
    <div class="title">
      <h1>
        <a href="/view/{{this.id}}">
          <img src="/static/img/dat-hex-small.png" class="small-dat-title-icon" />{{this.owner_id}}/{{this.name}}
        </a>
      </h1>
    </div>
    <p>{{this.description}}</p>
    <!--
    <button on-click="toggleMetadat">Toggle</button>
    <div class="{{this.open ? 'open' : ''}} vertical-slider preview-frame">
      <iframe src="{{this.url}}"></iframe>
    </div>
    -->
  </div>
{{/each}}
</div>
