<div class="u-full-width">
  {{#each metadats:i}}
  <div class="list-item">
    <div class="row">
      {{#if this.owner_id === user.handle}}
      <a on-click="refresh:{{i}}" href="#"><img src="/static/img/refresh.png" class="icon" /></a>
      {{/if}}
      {{#if this.error}}
        <img class="icon" src="/static/img/dat-hex-small-brown.png" />
      {{else}}
        <img class="icon" src="/static/img/dat-hex-small.png" />
      {{/if}}
      <a href="/view/{{this.id}}">{{this.owner_id}}/{{this.name}}</a>
    </div>
    <div class="row">
      {{this.description}}
    </div>
    <div class="row">
      <span class="indicator">{{prettyBytes(this.status.size)}}</span>
      <span class="indicator u-pull-right">last modified {{relativeDate(this.status.modified)}} </span>
    </div>
  {{/each}}
</div>
