<div class="browse-metadats">
{{#each metadats}}
  <div class="metadat">
    <div class="title">
      <h2>
        <a href="/view/{{this.id}}">
          <img src="/static/img/dat-hex-small.png" class="small-dat-title-icon" />{{this.owner_id}}/{{this.name}}
        </a>
      </h2>
      <p>{{this.description}}</p>
      <button on-click="toggleMetadat(metadat)">Toggle</button>
      {{#if metadat.closed}}
      <div class="preview-frame">
        <iframe src="{{metadat.url}}"></iframe>
        <h2>Info</h2>
        <div class="json"><pre class="col-sm-12">{{prettyJSON(metadat.json)}}</pre></div>
      </div>
      {{/if}}
    </div>
  </div>
{{/each}}