$padding-site-main: 3rem;

html {
  font-size: 87.5%;
  @media screen and (min-width: $small) {
    font-size: 100%;
  }
}

body, button, input, optgroup, select, textarea {
  font-family: 'Source Sans Pro', 'PT Sans', 'Calibri', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: $color-white;
  color: $color-neutral;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative; // this is to position the bottom bar
  &.panel-open {
    overflow-y: hidden;
  }
}

.hidden {
  display: none !important;
}

a, button, input[type="submit"] {
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: default;
  }
}

a {
  &:hover, &:focus {
    outline: none;
  }
}

ul,
li {
  @include list-plain;
}

svg {
  fill: currentColor;
}

.site-main {
  position: relative;
  padding-top: $padding-site-main;
  padding-bottom: $padding-site-main;
}

#add-files {
  float: right;
}

.danger-block {
  background-color: $color-red;
  text-align: center;
  color: $color-white;
  h1, h2, h3, h4, h5 {
    color: $color-white;
  }
  a {
    text-decoration: underline;
    color: $color-white;
  }
}

.clipboard:hover {
  cursor: pointer;
}
