.bg-white {
  background-color: $color-white;
}

.bg-neutral {
  background-color: $color-neutral;
}
.bg-neutral-90 {
  background-color: $color-neutral-90;
}
.bg-neutral-80 {
  background-color: $color-neutral-80;
}
.bg-neutral-70 {
  background-color: $color-neutral-70;
}
.bg-neutral-60 {
  background-color: $color-neutral-60;
}
.bg-neutral-50 {
  background-color: $color-neutral-50;
}
.bg-neutral-40 {
  background-color: $color-neutral-40;
}
.bg-neutral-30 {
  background-color: $color-neutral-30;
}
.bg-neutral-20 {
  background-color: $color-neutral-20;
}
.bg-neutral-14 {
  background-color: $color-neutral-14;
}
.bg-neutral-10 {
  background-color: $color-neutral-10;
}
.bg-neutral-04 {
  background-color: $color-neutral-04;
}

.bg-green {
  background-color: $color-green;
}
.bg-green-hover {
  background-color: $color-green-hover;
}
.bg-green-darker {
  background-color: $color-green-darker;
}
.bg-green-disabled {
  background-color: $color-green-disabled;
}

.bg-blue {
  background-color: $color-blue;
}
.bg-blue-hover {
  background-color: $color-blue-hover;
}
.bg-blue-darker {
  background-color: $color-blue-darker;
}
.bg-blue-disabled {
  background-color: $color-blue-disabled;
}

.bg-mint {
  background-color: $color-mint;
}
.bg-mint-hover {
  background-color: $color-mint-hover;
}
.bg-mint-darker {
  background-color: $color-mint-darker;
}
.bg-mint-disabled {
  background-color: $color-mint-disabled;
}

.bg-yellow {
  background-color: $color-yellow;
}
.bg-yellow-hover {
  background-color: $color-yellow-hover;
}
.bg-yellow-darker {
  background-color: $color-yellow-darker;
}
.bg-yellow-disabled {
  background-color: $color-yellow-disabled;
}

.bg-red {
  background-color: $color-red;
}
.bg-red-hover {
  background-color: $color-red-hover;
}
.bg-red-darker {
  background-color: $color-red-darker;
}
.bg-red-disabled {
  background-color: $color-red-disabled;
}

.bg-pink {
  background-color: $color-pink;
}
