.color-white {
  color: $color-white;
}

.color-neutral {
  color: $color-neutral;
}
.color-neutral-90 {
  color: $color-neutral-90;
}
.color-neutral-80 {
  color: $color-neutral-80;
}
.color-neutral-70 {
  color: $color-neutral-70;
}
.color-neutral-60 {
  color: $color-neutral-60;
}
.color-neutral-50 {
  color: $color-neutral-50;
}
.color-neutral-40 {
  color: $color-neutral-40;
}
.color-neutral-30 {
  color: $color-neutral-30;
}
.color-neutral-20 {
  color: $color-neutral-20;
}
.color-neutral-14 {
  color: $color-neutral-14;
}
.color-neutral-10 {
  color: $color-neutral-10;
}
.color-neutral-04 {
  color: $color-neutral-04;
}

.color-green {
  color: $color-green;
}
.color-green-hover {
  color: $color-green-hover;
}
.color-green-darker {
  color: $color-green-darker;
}
.color-green-disabled {
  color: $color-green-disabled;
}

.color-blue {
  color: $color-blue;
}
.color-blue-hover {
  color: $color-blue-hover;
}
.color-blue-darker {
  color: $color-blue-darker;
}
.color-blue-disabled {
  color: $color-blue-disabled;
}

.color-mint {
  color: $color-mint;
}
.color-mint-hover {
  color: $color-mint-hover;
}
.color-mint-darker {
  color: $color-mint-darker;
}
.color-mint-disabled {
  color: $color-mint-disabled;
}

.color-yellow {
  color: $color-yellow;
}
.color-yellow-hover {
  color: $color-yellow-hover;
}
.color-yellow-darker {
  color: $color-yellow-darker;
}
.color-yellow-disabled {
  color: $color-yellow-disabled;
}

.color-red {
  color: $color-red;
}
.color-red-hover {
  color: $color-red-hover;
}
.color-red-darker {
  color: $color-red-darker;
}
.color-red-disabled {
  color: $color-red-disabled;
}

.color-pink {
  color: $color-pink;
}
