.import-block {
  position: relative;
  margin: 3rem;
  padding: 5rem 0;
  text-align: center;
  background-color: $color-green;
  svg {
    position: absolute;
    fill: $color-green-hover;
    width: 7rem;
    top: -4.5rem;
    left: -2rem;
  }
  .dat-input {
    border: 4px solid $color-green-hover;
  }
}
