.container {
  padding-right: .5rem;
  padding-left: .5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  @media screen and (min-width: $xsmall) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  @media screen and (min-width: $medium) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.container--narrow {
  max-width: 960px;
}
