/* header */

$site-header-height: 4rem;

.site-header {
  height: $site-header-height;
  background-color: $color-neutral;
  color: $color-white;
  .dat-button button:not(.dat-button--help) {
   background-color: transparent;
    &:hover, &:focus, &:active {
      background-color: $color-neutral;
    }
  }
}

.site-header--external {
  background-color: $color-white;
  border-bottom: 1px solid $color-neutral-04;
}

.site-header__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// dat-button
.dat-button {
  display: inline-block;
  button {
    text-transform: uppercase;
    letter-spacing: .075em;
    &:hover, &:focus, &:active {
      outline: none;
      cursor: pointer;
    }
  }
}

.dat-button--help {
  position: fixed;
  bottom: 2rem;
  right: .5rem;
  z-index: 10;
  $radius: 24px;
  border-radius: $radius;
  box-shadow:
    0 2px 10px rgba(0,0,0,.3),
    0 0 1px rgba(0,0,0,.1),
    inset 0 1px 0 rgba(255,255,255,.25),
    inset 0 -1px 0 rgba(0,0,0,.15);
}

// website / external pages only

.header-nav-link {
  color: $color-neutral;
  &.active {
    color: $color-blue;
  }
  &:hover, &:focus {
    color: $color-neutral-80;
  }
}

.main-nav {
  line-height: $site-header-height;
  list-style: none;
  a:not(:last-child) {
    margin-right: 1rem;
    @media screen and (min-width: $small) {
      margin-right: 2rem4;
    }
    @media screen and (min-width: $medium) {
      margin-right: 2.75rem;
    }
  }
  a {
    font-size: .875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: inline-block;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}
