// Containers

$xsmall: 30rem; /* 480px */
$small: 40rem; /* 640px */
$medium: 60rem; /* 960px */
$large: 87.5rem; /* 1400px */
$huge: 110rem; /* 1600px */

// Transitions

$transition-duration: .05s;
$transition-timing-function: ease-out;
