language: node_js
sudo: required
dist: trusty
node_js:
  - 6

before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sudo apt-get update
  - sudo apt-get install -y libappindicator1 fonts-liberation
  - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - sudo dpkg -i google-chrome*.deb

before_script:
  - npm run build
  - node_modules/.bin/signalhub listen -p 8089 -q &
  - DATLAND_SIGNAL_HUBS=localhost:8089 npm run server &

script:
  - npm run test
  - TEST_SERVER=http://localhost:8080/ npm run test:e2e
