<div class="app-page" data-spy="scroll" data-target=".breadcrumbs-nav">
  <div class="app-text-container">
    <h1>publish</h1>

    <div class="breadcrumbs-nav">
      <ul class="breadcrumbs" role="tablist">
        <li>
          <a href="#preview" class="{{breadcrumbClass('preview')}} no-page">
            1. Preview <span class="fui-check"></span>
          </a>
        </li>
        <li>
          <a class="{{breadcrumbClass('authorize')}} no-page">
            2. Authorize <span class="fui-check"></span>
          </a>
        </li>
        <li>
          <a class="{{breadcrumbClass('submit')}} no-page">
            3. Submit <span class="fui-check"></span>
          </a>
        </li>
      </ul>
    </div>

    <div class="form-horizontal breadcrumbs-content" role="form">
      <p class="publish-intro-text">
        {{state.introText}}
      </p>

      {{#if state.name == 'finish'}}

      <div id="finish">
        <a href="/view/{{metadat.id}}">Click here if your dat doesn't open</a>
      </div>

      {{else}}

      <!-- submit -->
      <div class="{{visibleClass('submit')}} authorize form">
        <div class="form-group {{errorClass('submitError')}}">
          <label for="inputName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputName"
              value="{{metadat.name}}"  />
          </div>
        </div>

        <div class="form-group {{errorClass('submitError')}}">
          <label for="inputDescription" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-6">
            <textarea class="form-control" id="inputDescription"
              value="{{metadat.description}}"></textarea>
          </div>
          <div class="col-sm-2">
            <button type="submit" on-click="submitOK"
              class="btn {{loadingClass()}}">
               {{ loadingText('Publish') }}
            </button>
          </div>
        </div>

      <hr class="form-divider">
      </div>

      <!-- authorize -->
      <div class="{{visibleClass('authorize')}} authorize form">

        <div class="form-group {{errorClass('authorizeError')}}">
          <label for="inputHandle" class="col-sm-2 control-label">Username</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputHandle"
              placeholder="Enter your username..." value="{{adminUsername}}" />
          </div>

        </div>

        <div class="form-group {{errorClass('authorizeError')}}">

          <label for="inputPass" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="inputPass"
              placeholder="Enter your password..."  value="{{adminPassword}}" />
            <p class="help-block">
              <a href="https://github.com/maxogden/dat/blob/master/docs/forgot-password.md" target="_blank">Did you forget? It's ok.</a>
            </p>
          </div>

          <div class="col-sm-2">
            <button type="submit" on-click="authorizeOK"
               class="btn {{loadingClass()}}">
               {{ loadingText('Submit') }}
            </button>
          </div>
        </div>
      <hr class="form-divider">
      </div>

      <!-- preview -->
      <div class="preview form">
        <div class="form-group {{errorClass('urlError')}}">

          <label for="metadatURL" class="col-sm-2 control-label">URL</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="metadatURL"
              placeholder="http://" value="{{metadat.url}}" />
            <p class="{{visibleClass('begin')}} help-block">
              {{#if existingDat}}
                Looks like that dat already exists. <a href="/view/{{existingDat.id}}">Go to the dat.</a>
              {{else}}
                {{#if urlError}}
                  Looks like that dat doesn't exist or we can't reach it. Are you sure that the URL is right?
                {{else}}
                  Don't have one? <a href="https://github.com/maxogden/dat/blob/master/docs/getting-started.md" target="_blank">Don't worry, it just takes a minute.</a>
                {{/if}}
              {{/if}}
            </p>
          </div>

          {{#if (state.name == 'begin' || state.name == 'preview') && !urlError}}
            <div class="col-sm-2">
              <button type="submit" on-click="previewOK"
                 class="btn {{loadingClass()}}">
               {{ loadingText(metadat.json ? 'Yes' : 'Next')}}</button>
            </div>
          {{/if}}
        </div>

        {{#if metadat.json && state.name != 'begin'}}
        <div class="preview-frame">

            <iframe src="{{metadat.url}}"></iframe>
            <div class="json">
              <pre class="col-sm-12">
                {{prettyJSON(metadat.json)}}
              </pre>
            </div>

        </div>
        {{/if}}

      </div>
    </div>
    {{/if}}
  </div>
</div>
