<h2>Publish</h2>
<div class="app-page">
  <div class="row form-horizontal">
    <h3>Name of repository</h3>
    <input type="text" class="four columns" id="metadatName" placeholder="" alue="{{metadat.name}}" />
    <button type="submit" on-click="create" class="button button-primary">Create</button>
  </div>
  <div class="row">
    <div class="preview form row eight columns">
      <input type="text" class="eight columns" id="metadatURL"
      placeholder="ssh:// or http://" value="{{metadat.url}}" />
      <!-- authorize -->
      {{#if authorize}}
      <div class="authorize form">
        <div class="row">
          <label class="two columns">Username</label>
          <div class="eight columns">
            <input type="text" id="inputHandle"
            placeholder="Enter your username..." value="{{username}}" />
          </div>
        </div>

        <div class="row">
          <label for="inputPass" class="two columns">Password</label>
          <div class="eight columns">
            <input type="password" class="form-control" id="inputPass"
            placeholder="Enter your password..."  value="{{password}}" />
          </div>
        </div>
      </div>
      {{/if}}

      <button type="submit" on-click="publish"
      class="button button-primary">Publish</button>
    </div>
  </div>

<hr>
  <div class="row">
    <ul>
      <li>How do I create a dat server?</li>
      <li>How do I publish a dat from the command line?</li>
    </ul>
  </div>
</div>
