<div class="app-page">
  <div class="app-text-container">

    <!-- header -->
    <h1>
      <a href="/profile/{{metadat.owner_id}}">{{metadat.owner_id}}</a> /
        {{#if edit.info}}
          <input class="edit-info" type="text" value="{{metadat.name}}" />
        {{else}}
          {{metadat.name}}
          {{#if metadat.owner_id == user.handle}}
            <a class="caption no-page" href="#" on-click="edit.info">Edit</a>
          {{/if}}
        {{/if}}
    </h1>

    <div class="row metadat-info">
      <div class="col-sm-10">
        {{#if edit.info}}
          <p>
            <input class="edit-info" type="text" value="{{metadat.description}}" />
            <button class="btn btn-success" on-click="save:'info'">Save</button>
          </p>
        {{else}}
          <p>{{metadat.description}}</p>
        {{/if}}
        <span class="caption">{{metadat.json.approximateSize.rows}}</span>
      </div>
    </div>

    <div class="row">
      <!-- center dashboard-->

      <div class="col-sm-8">

        <!-- datasets -->
        <div class="datasets app-bg-box">
          <h5 class="app-bg-box-header">Datasets</h5>
          <div class="app-bg-box-content">
            <ul>
            {{#each metadat.datasets}}
              <li>
                <p>
                  <a href="dataset">{{this.name}}</a>
                </p>
                <p></p>
              </li>
            {{/each}}
            </ul>
          </div>
        </div>

        <div class="readme app-bg-box">
        <!-- edit readme -->
          {{#if edit.readme}}
            <h5 class="app-bg-box-header tabs">

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#write" aria-controls="write" role="tab" data-toggle="tab">Editing readme</a>
              </li>
              <li role="presentation">
                <a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Preview changes</a>
              </li>
              <button class="btn btn-success no-page" on-click="save:'readme'">Save</button>
            </ul>
            </h5>


            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="write">
                <textarea id="readme-edit" value="{{metadat.readme}}" class="app-bg-box-content markdown-edit"></textarea>
              </div>
              <div role="tabpanel" class="tab-pane" id="preview">
                <div class="app-bg-box-content markdown-display">
                  {{{ markdownify(metadat.readme)}}}
                </div>
              </div>
            </div>

            {{else}}
            <!-- view readme -->
            <h5 class="app-bg-box-header">Readme
              <a class="caption no-page" href="#" on-click="edit.readme">Edit</a>
            </h5>
            <div class="app-bg-box-content">
              {{{ markdownify(metadat.readme)}}}
            </div>
          {{/if}}
        </div>
      </div>

      <!-- right sidebar -->
      <div class="col-sm-4">
        <div class="app-bg-box">
          <h5 class="app-bg-box-header">History</h5>
          <div class="app-bg-box-content">
            {{metadat.json.version}}
          </div>
        </div>
        <div class="app-bg-box-content">
          <h5 class="mono">dat clone
          <input type="text" class="copy-text" value="{{metadat.url}}" /></h5>
        </div>

      </div>
    </div>
  </div>
</div>