<div class="app-page">
  <div class="app-text-container">

    {{#if metadat.owner_id == user.handle}}
      <button class="btn" on-click="edit">Edit</button>
    {{/if}}
    <h1><a href="/profile/{{metadat.owner_id}}">{{metadat.owner_id}}</a> / {{metadat.name}}</h1>
    <div class="row">
      <div class="col-sm-10">
        <p>{{metadat.description}}</p>
      </div>
      <p class="caption">version: {{metadat.json.version}}</p>
      <p class="caption">row size: {{metadat.json.approximateSize.rows}}</p>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="datasets app-bg-box">
          <h5 class="app-bg-box-header">Datasets</h5>
          <div class="app-bg-box-content">
            <ul>
            {{#each metadat.datasets}}
              <li>
                <p>
                  <a href="dataset">{{this.name}}</a>
                </p>
                <p></p>

              </li>
            {{/each}}
            </ul>
          </div>
        </div>
        <div class="readme app-bg-box">
          <h5 class="app-bg-box-header">Readme</h5>
          <div class="app-bg-box-content">
            {{metadat.readme}}
          </div>
        </div>
      </div>
      <div class="col-sm-4">

        <div class="app-bg-box">
          <div class="app-bg-box-content">
            <h5 class="mono">dat clone</h5>
            <input type="text" class="copy-text" value="{{metadat.url}}" />
          </div>
        </div>

      </div>
    </div>
  </div>
</div>