.metadat {
  border-bottom: 1px solid @white-border;
  position: relative;
  display: block;
  padding: 10px;

  &:last-child {
    border-bottom: none;
  }

  .title {
    width: 75%;
    margin-top: 10px;
  }
  .info {
    color: @dark-text;
  }
  .title, .info {
    display: inline-block;
    position: relative;
  }
}