<div class="app-page">
  <div class="app-text-container">
    <h1><a href="/{{metadat.owner_id}}">{{metadat.owner_id}}</a> / {{metadat.name}}</h1>
    <p>{{metadat.description}}</p>

    <div class="col-sm-12">
      <h2>URL</h2>
      <div >
        <a href="{{metadat.url}}" target="_blank">{{metadat.url}}</a>
      </div>

      <div class="preview-frame">
        <iframe src="{{metadat.url}}"></iframe>
        <h2>Info</h2>
        <div class="json"><pre class="col-sm-12">{{prettyJSON(metadat.json)}}</pre></div>
      </div>

    </div>
  </div>
</div>