@import "variables";
@import "footer";
@import "headers";
@import "sidebar";
@import "responsive";

body {
  font-size: 1.75em;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f8f8f6;
}

#content {
  min-height: 500px;
  padding: 40px;
  margin: auto;
  position: static;
  width: 100%;
}

.centered {
  text-align: center;
}

.img-small {
  height: 12px;
  padding-right: 5px;
}

.icon {
  height: 20px;
}

.content-card-avatar {
  &.small {
    width: 30px;
    height: 30px;
  }
  &.medium {
    width: 50px;
    height: 50px;
  }
  padding: 2px;
  background-color: white;
  /* border-color: green; */
  border: 1px solid #eee;
  margin-right: 5px;
  vertical-align: middle;
}

.search-header__form-control {
  width: 80%;
}

#content a {
  color: @green;
  &:hover {
    color: @dark-green;
    cursor: pointer;
  }
}

h1 input {
  height: 60px !important;
}

input:focus {
  border: 1px solid @green;
}

.dat-url {
  pre {
    margin-bottom: 0px;
  }
  img {
    width: 20px;
    vertical-align: middle;
  }
}

.indicator {
  font-style: italic;
  color: #999;
}
.container.padded {
  padding-top: 30px;
}

/** banners **/
@banner-height: 30px;
.banner {
  color: @off-white;
  position: fixed;
  top: -@banner-height;
  -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
  transition: all .5s;
  width: 100%;
  height: @banner-height;
  z-index: 999999;

  &.success {
    top: 0px;
    background-color: @green;
  }
  &.error {
    top: 0px;
    background-color: @error;
  }
  &.warning {
    top: 0px;
    background-color: yellow;
    color: black;
  }
}

.banner-text {
  text-align: center;
}

/** skeleton overrides **/
.button, .button:hover, .button:active, .button:focus {
  font-size: 13px;
  background-color: @off-white;
}
.button.button-primary {
  background-color: @green;
  border-color: @green;
  &:hover, &:active, &:focus {
    background-color: @dark-green;
    border-color: @dark-green;
  }
}

.button.button-white {
  color: @dark-blue;
}

.tabs {
  line-height: 40px;
  .tab {
    padding: 10px 30px;
    background-color: @light-grey;
    border: 1px solid @light-grey;
    border-bottom: 0px;

    &.active {
      background-color: white;
    }
  }
}

.tab-panes .tab-pane {
  display: none;
}

.tab-panes .active {
  display: block;
  border: 1px solid @light-grey;
  border-top: 0px;

  textarea {
    border: 0px;
    height: 400px;
  }
}
.footer {
  border-top: 1px solid #eee;
  width: 100%;
  text-align: right;
}

.list-item {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
}
