@import "variables";
@import "footer";
@import "headers";
@import "sidebar";
@import "responsive";

#main {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#content {
  min-height: 500px;
  flex-grow: 1;
  order: 2;
  position: static;
}

.app-page {
  padding: 0px 20px;
}

.centered {
  text-align: center;
}

.img-small {
  height: 12px;
  padding-right: 5px;
}

.content-card-avatar {
  &.small {
    width: 30px;
    height: 30px;
  }
  &.medium {
    width: 50px;
    height: 50px;
  }
  margin-right: 5px;
  vertical-align: middle;
}

.search-header__form-control {
  width: 80%;
}

a {
  color: @green;
  &:hover {
    color: @dark-green;
    cursor: pointer;
  }
}

input:focus {
  border: 1px solid @green;
}

.container.padded {
  padding-top: 30px;
}

/** banners **/
@banner-height: 30px;
.banner {
  color: @off-white;
  position: fixed;
  top: -@banner-height;
  -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
  transition: all .5s;
  width: 100%;
  height: @banner-height;
  z-index: 999999;

  &.success {
    top: 0px;
    background-color: @green;
  }
  &.error {
    top: 0px;
    background-color: @error;
  }
}

.banner-text {
  text-align: center;
}

/** skeleton overrides **/
.button.button-primary {
  background-color: @green;
  border-color: @green;
  &:hover {
    background-color: darken(@green, 10%);
    border-color: darken(@green, 10%);
  }
}

.button.button-white {
  background-color: @off-white;
  color: @dark-blue;
}

.tabs {
  line-height: 40px;
  .tab {
    padding: 10px 30px;
    background-color: @light-grey;
    border: 1px solid @light-grey;
    border-bottom: 0px;

    &.active {
      background-color: white;
    }
  }
}

.tab-panes .tab-pane {
  display: none;
}

.tab-panes .active {
  display: block;
  border: 1px solid @light-grey;
  border-top: 0px;

  textarea {
    border: 0px;
    height: 400px;
  }
}
