// global dat.land styles

$padding-site-main: 3rem;

body {
  min-width: 480px;
  position: relative; // this is to position the bottom bar
}

a, button, input[type="submit"] {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

a {
  &:hover, &:focus {
    outline: none;
  }
}

ul,
li {
  @include list-plain;
}

/* page layout */

.container {
  margin: 0 auto;
  padding-right: .625rem;
  padding-left: .625rem;
  max-width: 1170px;
  @include breakpoint (sm) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  @include breakpoint (md1) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.site-main {
  position: relative;
  padding-top: $padding-site-main;
  padding-bottom: $padding-site-main;
}

.breadcrumbs {
  margin-bottom: 1rem;
  min-height: 2em;
}

#add-files {
  float: right;
}

#get_link {
  z-index: 10;
  position: absolute;
}

.danger-block {
  background-color: $color-danger;
  text-align: center;
  color: #fff;
  h1, h2, h3, h4, h5 {
    color: #fff;
  }
  a {
    text-decoration: underline;
    color: #fff;
  }
}
