// global dat.land styles

$padding-site-main: 3rem;

body {
  min-width: 480px;
  position: relative; // this is to position the bottom bar

  &.panel-open {
    overflow-y: hidden;
  }
}

.hidden {
  display: none;
}

a, button, input[type="submit"] {
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: default;
  }
}

a {
  &:hover, &:focus {
    outline: none;
  }
}

ul,
li {
  @include list-plain;
}

/* page layout */

.container {
  margin: 0 auto;
  padding-right: .625rem;
  padding-left: .625rem;
  max-width: 1170px;
  img {
    max-width: 100%;
  }
  @include breakpoint (md1) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  @include breakpoint (xl) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.side-by-side {
  display: flex;
  justify-content: space-around;
  img {
    width: 250px;
    height: 250px;
    margin: 1em;
  }
  h2 {
    text-align: center;
  }

}

.dark-background {
  background-color: $color-neutral;
}

.site-main {
  position: relative;
  padding-top: $padding-site-main;
  padding-bottom: $padding-site-main;
}

.breadcrumbs {
  margin-bottom: 1rem;
  min-height: 2em;
}

#add-files {
  float: right;
}

#get_link {
  z-index: 10;
  position: absolute;
}

.danger-block {
  background-color: $color-danger;
  text-align: center;
  color: #fff;
  h1, h2, h3, h4, h5 {
    color: #fff;
  }
  a {
    text-decoration: underline;
    color: #fff;
  }
}

.create-page {
  padding: 2em;
  margin: auto;
  width: 726px;
  .create-container {

  }
}

.row {
  margin-top: 10px;
}

.clipboard:hover {
  cursor: pointer;
}
