.bg-white {
  background-color: $color-white;
}

.bg-neutral {
  background-color: $color-neutral;
}
.bg-neutral-90 {
  background-color: $color-neutral-90;
}
.bg-neutral-80 {
  background-color: $color-neutral-80;
}
.bg-neutral-70 {
  background-color: $color-neutral-70;
}
.bg-neutral-60 {
  background-color: $color-neutral-60;
}
.bg-neutral-50 {
  background-color: $color-neutral-50;
}
.bg-neutral-40 {
  background-color: $color-neutral-40;
}
.bg-neutral-30 {
  background-color: $color-neutral-30;
}
.bg-neutral-20 {
  background-color: $color-neutral-20;
}
.bg-neutral-14 {
  background-color: $color-neutral-14;
}
.bg-neutral-10 {
  background-color: $color-neutral-10;
}
.bg-neutral-04 {
  background-color: $color-neutral-04;
}

.bg-green {
  background-color: $color-green;
}
.bg-green-hover {
  background-color: $color-green-hover;
}
.bg-green-darker {
  background-color: $color-green-darker;
}
.bg-green-disabled {
  background-color: $color-green-disabled;
}

.bg-blue {
  background-color: $color-blue;
}
.bg-blue-hover {
  background-color: $color-blue-hover;
}
.bg-blue-darker {
  background-color: $color-blue-darker;
}
.bg-blue-disabled {
  background-color: $color-blue-disabled;
}

.bg-mint {
  background-color: $color-mint;
}
.bg-mint-hover {
  background-color: $color-mint-hover;
}
.bg-mint-darker {
  background-color: $color-mint-darker;
}
.bg-mint-disabled {
  background-color: $color-mint-disabled;
}

.bg-yellow {
  background-color: $color-yellow;
}
.bg-yellow-hover {
  background-color: $color-yellow-hover;
}
.bg-yellow-darker {
  background-color: $color-yellow-darker;
}
.bg-yellow-disabled {
  background-color: $color-yellow-disabled;
}

.bg-red {
  background-color: $color-red;
}
.bg-red-hover {
  background-color: $color-red-hover;
}
.bg-red-darker {
  background-color: $color-red-darker;
}
.bg-red-disabled {
  background-color: $color-red-disabled;
}

.bg-pink {
  background-color: $color-pink;
}




// hover & focus states

.hover-bg-white:hover,
.hover-bg-white:focus {
  background-color: $color-white;
}

.hover-bg-neutral:hover,
.hover-bg-neutral:focus {
  background-color: $color-neutral;
}
.hover-bg-neutral-90:hover,
.hover-bg-neutral-90:focus {
  background-color: $color-neutral-90;
}
.hover-bg-neutral-80:hover,
.hover-bg-neutral-80:focus {
  background-color: $color-neutral-80;
}
.hover-bg-neutral-70:hover,
.hover-bg-neutral-70:focus {
  background-color: $color-neutral-70;
}
.hover-bg-neutral-60:hover,
.hover-bg-neutral-60:focus {
  background-color: $color-neutral-60;
}
.hover-bg-neutral-50:hover,
.hover-bg-neutral-50:focus {
  background-color: $color-neutral-50;
}
.hover-bg-neutral-40:hover,
.hover-bg-neutral-40:focus {
  background-color: $color-neutral-40;
}
.hover-bg-neutral-30:hover,
.hover-bg-neutral-30:focus {
  background-color: $color-neutral-30;
}
.hover-bg-neutral-20:hover,
.hover-bg-neutral-20:focus {
  background-color: $color-neutral-20;
}
.hover-bg-neutral-14:hover,
.hover-bg-neutral-14:focus {
  background-color: $color-neutral-14;
}
.hover-bg-neutral-10:hover,
.hover-bg-neutral-10:focus {
  background-color: $color-neutral-10;
}
.hover-bg-neutral-04:hover,
.hover-bg-neutral-04:focus {
  background-color: $color-neutral-04;
}

.hover-bg-green:hover,
.hover-bg-green:focus {
  background-color: $color-green;
}
.hover-bg-green-hover:hover,
.hover-bg-green-hover:focus {
  background-color: $color-green-hover;
}
.hover-bg-green-darker:hover,
.hover-bg-green-darker:focus {
  background-color: $color-green-darker;
}
.hover-bg-green-disabled:hover,
.hover-bg-green-disabled:focus {
  background-color: $color-green-disabled;
}

.hover-bg-blue:hover,
.hover-bg-blue:focus {
  background-color: $color-blue;
}
.hover-bg-blue-hover:hover,
.hover-bg-blue-hover:focus {
  background-color: $color-blue-hover;
}
.hover-bg-blue-darker:hover,
.hover-bg-blue-darker:focus {
  background-color: $color-blue-darker;
}
.hover-bg-blue-disabled:hover,
.hover-bg-blue-disabled:focus {
  background-color: $color-blue-disabled;
}

.hover-bg-mint:hover,
.hover-bg-mint:focus {
  background-color: $color-mint;
}
.hover-bg-mint-hover:hover,
.hover-bg-mint-hover:focus {
  background-color: $color-mint-hover;
}
.hover-bg-mint-darker:hover,
.hover-bg-mint-darker:focus {
  background-color: $color-mint-darker;
}
.hover-bg-mint-disabled:hover,
.hover-bg-mint-disabled:focus {
  background-color: $color-mint-disabled;
}

.hover-bg-yellow:hover,
.hover-bg-yellow:focus {
  background-color: $color-yellow;
}
.hover-bg-yellow-hover:hover,
.hover-bg-yellow-hover:focus {
  background-color: $color-yellow-hover;
}
.hover-bg-yellow-darker:hover,
.hover-bg-yellow-darker:focus {
  background-color: $color-yellow-darker;
}
.hover-bg-yellow-disabled:hover,
.hover-bg-yellow-disabled:focus {
  background-color: $color-yellow-disabled;
}

.hover-bg-red:hover,
.hover-bg-red:focus {
  background-color: $color-red;
}
.hover-bg-red-hover:hover,
.hover-bg-red-hover:focus {
  background-color: $color-red-hover;
}
.hover-bg-red-darker:hover,
.hover-bg-red-darker:focus {
  background-color: $color-red-darker;
}
.hover-bg-red-disabled:hover,
.hover-bg-red-disabled:focus {
  background-color: $color-red-disabled;
}

.hover-bg-pink:hover,
.hover-bg-pink:focus {
  background-color: $color-pink;
}
