.color-white {
  color: $color-white;
}

.color-neutral {
  color: $color-neutral;
}
.color-neutral-90 {
  color: $color-neutral-90;
}
.color-neutral-80 {
  color: $color-neutral-80;
}
.color-neutral-70 {
  color: $color-neutral-70;
}
.color-neutral-60 {
  color: $color-neutral-60;
}
.color-neutral-50 {
  color: $color-neutral-50;
}
.color-neutral-40 {
  color: $color-neutral-40;
}
.color-neutral-30 {
  color: $color-neutral-30;
}
.color-neutral-20 {
  color: $color-neutral-20;
}
.color-neutral-14 {
  color: $color-neutral-14;
}
.color-neutral-10 {
  color: $color-neutral-10;
}
.color-neutral-04 {
  color: $color-neutral-04;
}

.color-green {
  color: $color-green;
}
.color-green-hover {
  color: $color-green-hover;
}
.color-green-darker {
  color: $color-green-darker;
}
.color-green-disabled {
  color: $color-green-disabled;
}

.color-blue {
  color: $color-blue;
}
.color-blue-hover {
  color: $color-blue-hover;
}
.color-blue-darker {
  color: $color-blue-darker;
}
.color-blue-disabled {
  color: $color-blue-disabled;
}

.color-mint {
  color: $color-mint;
}
.color-mint-hover {
  color: $color-mint-hover;
}
.color-mint-darker {
  color: $color-mint-darker;
}
.color-mint-disabled {
  color: $color-mint-disabled;
}

.color-yellow {
  color: $color-yellow;
}
.color-yellow-hover {
  color: $color-yellow-hover;
}
.color-yellow-darker {
  color: $color-yellow-darker;
}
.color-yellow-disabled {
  color: $color-yellow-disabled;
}

.color-red {
  color: $color-red;
}
.color-red-hover {
  color: $color-red-hover;
}
.color-red-darker {
  color: $color-red-darker;
}
.color-red-disabled {
  color: $color-red-disabled;
}

.color-pink {
  color: $color-pink;
}



.hover-color-white:hover,
.hover-color-white:focus { color: #FFFFFF }
.hover-color-neutral:hover,
.hover-color-neutral:focus { color: #293648 }
.hover-color-neutral-90:hover,
.hover-color-neutral-90:focus { color: #394B5B }
.hover-color-neutral-80:hover,
.hover-color-neutral-80:focus { color: #505F6D }
.hover-color-neutral-70:hover,
.hover-color-neutral-70:focus { color: #65737F }
.hover-color-neutral-60:hover,
.hover-color-neutral-60:focus { color: #7C8792 }
.hover-color-neutral-50:hover,
.hover-color-neutral-50:focus { color: #919BA4 }
.hover-color-neutral-40:hover,
.hover-color-neutral-40:focus { color: #A7AFB6 }
.hover-color-neutral-30:hover,
.hover-color-neutral-30:focus { color: #C3C9CD }
.hover-color-neutral-20:hover,
.hover-color-neutral-20:focus { color: #D3D7DB }
.hover-color-neutral-14:hover,
.hover-color-neutral-14:focus { color: #E0E3E5 }
.hover-color-neutral-10:hover,
.hover-color-neutral-10:focus { color: #E9EBEC }
.hover-color-neutral-04:hover,
.hover-color-neutral-04:focus { color: #F6F7F8 }
.hover-color-green:hover,
.hover-color-green:focus { color: #2ACA4B }
.hover-color-green-hover:hover,
.hover-color-green-hover:focus { color: #199E33 }
.hover-color-green-darker:hover,
.hover-color-green-darker:focus { color: #006607 }
.hover-color-green-disabled:hover,
.hover-color-green-disabled:focus { color: #94E4A5 }
.hover-color-blue:hover,
.hover-color-blue:focus { color: #007FFF }
.hover-color-blue-hover:hover,
.hover-color-blue-hover:focus { color: #0066CC }
.hover-color-blue-darker:hover,
.hover-color-blue-darker:focus { color: #003E83 }
.hover-color-blue-disabled:hover,
.hover-color-blue-disabled:focus { color: #7FBFFF }
.hover-color-mint:hover,
.hover-color-mint:focus { color: #159F84 }
.hover-color-mint-hover:hover,
.hover-color-mint-hover:focus { color: #0B856D }
.hover-color-mint-darker:hover,
.hover-color-mint-darker:focus { color: #045943 }
.hover-color-mint-disabled:hover,
.hover-color-mint-disabled:focus { color: #8ACFC1 }
.hover-color-yellow:hover,
.hover-color-yellow:focus { color: #F2CD02 }
.hover-color-yellow-hover:hover,
.hover-color-yellow-hover:focus { color: #C4A500 }
.hover-color-yellow-darker:hover,
.hover-color-yellow-darker:focus { color: #9F7D07 }
.hover-color-yellow-disabled:hover,
.hover-color-yellow-disabled:focus { color: #FBF0B3 }
.hover-color-red:hover,
.hover-color-red:focus { color: #D8524E }
.hover-color-red-hover:hover,
.hover-color-red-hover:focus { color: #B33C38 }
.hover-color-red-darker:hover,
.hover-color-red-darker:focus { color: #A52724 }
.hover-color-red-disabled:hover,
.hover-color-red-disabled:focus { color: #EBA8A6 }
.hover-color-pink:hover,
.hover-color-pink:focus { color: #F9A5E4 }
