@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url(/public/fonts/Source+Code+Pro_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(/public/fonts/Source+Code+Pro_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(/public/fonts/Source+Code+Pro_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff */
        url(/public/fonts/Source+Code+Pro_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD0Y6Fu39Tt9XkmtSosaMoEA.ttf */
        url(/public/fonts/Source+Code+Pro_400_normal.svg#Source+Code+Pro_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=mrl8jkM18OlOQN8JLgasDwDX0QHsyBtvFGhCuXSMYhM&skey=d94d317bc78fd84e&v=v6#SourceCodePro */
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 500;
    src: url(/public/fonts/Source+Code+Pro_500_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(/public/fonts/Source+Code+Pro_500_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(/public/fonts/Source+Code+Pro_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqe_puumMoxhiakHfBfLgHWs.woff */
        url(/public/fonts/Source+Code+Pro_500_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqSupjbsDx8xYeOMUfKCxdHk.ttf */
        url(/public/fonts/Source+Code+Pro_500_normal.svg#Source+Code+Pro_500_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(/public/fonts/Source+Sans+Pro_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(/public/fonts/Source+Sans+Pro_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(/public/fonts/Source+Sans+Pro_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff */
        url(/public/fonts/Source+Sans+Pro_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlEY6Fu39Tt9XkmtSosaMoEA.ttf */
        url(/public/fonts/Source+Sans+Pro_400_normal.svg#Source+Sans+Pro_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=ODelI1aHBYDBqgeIAH2zlADX0QHsyBtvFGhCuXSMYhM&skey=1e026b1c27170b9b&v=v10#SourceSansPro */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(/public/fonts/Source+Sans+Pro_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(/public/fonts/Source+Sans+Pro_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(/public/fonts/Source+Sans+Pro_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff */
        url(/public/fonts/Source+Sans+Pro_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGLlcMrNrsnL9dgADnXgYJjs.ttf */
        url(/public/fonts/Source+Sans+Pro_700_normal.svg#Source+Sans+Pro_700_normal) format('svg'); /* {{svg-gf-url}} */
}
