.gravatar {
  border-radius: 25px;
  border: 3px solid #051034; // TODO: HACK. use sheetify
  margin: auto;
  display: inline-block;
  max-height: 100%;
  vertical-align: middle;
  margin-left: 1rem;
}
