// override introjs styles
// double class selector to increase specificity

.introjs-helperNumberLayer.introjs-helperNumberLayer {
  display: none;
}

.introjs-helperLayer.introjs-helperLayer {
  background-color: rgba(255,255,255,.5);
}

.introjs-tooltip.introjs-tooltip {
  min-width: 240px;
  position: relative;
  padding: .5rem 1.5rem .5rem;
  color: $color-neutral;
  text-align: center;
}

.introjs-tooltiptext.introjs-tooltiptext {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
}

.introjs-button.introjs-button {
  padding: .6rem 0;
  border: none;
  color: $color-neutral-50;
  text-shadow: none;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: .05em;
  &:hover, &:focus {
    color: $color-neutral-70;
    background: transparent;
    box-shadow: none;
  }
  &.introjs-prevbutton {
    padding-right: 3.5rem;
    text-align: left;
  }
  &.introjs-nextbutton {
    padding-left: 3.5rem;
    text-align: right;
  }
  &.introjs-skipbutton {
    position: absolute;
    top: -.25rem;
    right: 0;
  }
  &.introjs-disabled {
    visibility: hidden;
  }
}

// close button
.introjs-skipbutton.introjs-skipbutton {
  $radius: 12px;
  position: absolute;
  top: calc(#{-$radius} - #{$padding-site-main});
  width: 2 * $radius;
  height: 2 * $radius;
  background-color: $color-white;
  border-radius: 50%;
  text-align: center;
  text-indent: -999px;
  overflow: hidden;
  cursor: pointer;
  &:hover, &:focus {
    background-color: $color-white;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: $radius - 1px;
    left: $radius * .5;
    background-color: currentColor;
    width: $radius;
    height: 2px;
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}

.introjs-tooltipbuttons.introjs-tooltipbuttons {
  margin-top: -1.85rem;
  text-align: center;
}
