.panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: $transition-timing-function;
  opacity: 0;
  transform: scale(.8);
  pointer-events: none;
  &.open {
    opacity: 1;
    transform: none;
    pointer-events: all;
  }
}

.panel-header {
  position: fixed;
  width: 100%;
  height: $site-header-height;
  border-bottom: 1px solid $color-neutral--10;
  background-color: $color-neutral--04;
  font-size: .8125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.panel-header__close-button {
  width: $site-header-height;
  height: $site-header-height;
  flex-basis: $site-header-height;
  flex-shrink: 0;
  border-radius: 0;
  background-color: $color-green;
  margin-right: 1rem;
  position: relative;
  text-indent: -999px;
  overflow: hidden;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - #{$site-header-height} / 4);
    background-color: currentColor;
    width: $site-header-height / 2;
    height: 2px;
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}

.panel-header__title-group {
  flex-grow: 1;
  .dat-details {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.panel-header__action-group {
  padding-right: 1rem;
}

.panel-title {
  max-width: calc(100vw - 22rem);
  font-size: 1.375rem;
  margin-right: 1rem;
}

.panel-main {
  padding: calc(#{$site-header-height} + 1rem) 1rem 1rem 1rem;
}
