/* TODO: delete this file after choo migration is complete */
#display {
  margin-bottom: 4rem;
  img,
  video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  iframe {
    width: 100%;
    height: 70%;
    border: 1px solid $color-neutral-20;
  }
  table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-spacing: 0;
    border-collapse: collapse;
  }
  table th,
  table td {
    margin: 0;
    border: 1px solid black;
    text-align: left;
    padding: 5px 10px;
    color: $color-neutral;
    min-height: 1.42857143;
  }
}
