.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media screen and (min-width: $md1) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @media screen and (min-width: $lg) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.bg-splash {
  background-image: url('/public/img/bg-landing-page.svg');
  background-repeat: no-repeat;
  background-position: 50% 46%;
  background-size: 240%, 100%;
  @media screen and (min-width: $md1) {
    background-position: 50% 64%;
    background-size: 160%, 100%;
  }
  @media screen and (min-width: $lg) {
    background-position: 50% 64%;
    background-size: 95%, 100%;
  }
  @media screen and (min-width: $xxl) {
    background-position: 50% 64%;
    background-size: 90%, 100%;
  }
  @media screen and (min-width: $xxxl) {
    background-position: 50% 64%;
    background-size: 90%, 100%;
  }
}

.bg-splash-02 {
  background-image: url('/public/img/bg-landing-page.svg');
  background-repeat: no-repeat;
  background-position: 50vw 46%;
  background-size: 200%;
  @media screen and (min-width: $md1) {
    background-size: 100%;
  }
}

.splash-visual {
  width: 100%;
  @media screen and (min-width: $md1) {
    width: 80%;
  }
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background: $color-white;
  display: block;
  margin-top: 1.25rem;
  margin-bottom: 3.5rem;
  border-radius: .25rem;
  overflow: hidden;
  transition: all 1s;
  transform: scale(0);
  img {
    display: block;
  }
  @media screen and (min-width: $md1) {
    min-height: 30vh;
  }
  animation: popup 1.5s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  box-shadow: 0 0 120px rgba(0,0,0,.25);
}

@keyframes popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  19% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
  }
  100% {
    transform: scale(1);
  }
}
