.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media screen and (min-width: $md1) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @media screen and (min-width: $lg) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.bg-splash {
  background-image: url('/public/img/bg-landing-page.svg');
  background-repeat: no-repeat;
  background-position: 50% 46%;
  background-size: 240%, 100%;
  @media screen and (min-width: $md1) {
    background-position: 50% 64%;
    background-size: 160%, 100%;
  }
  @media screen and (min-width: $lg) {
    background-position: 50% 64%;
    background-size: 95%, 100%;
  }
  @media screen and (min-width: $xxl) {
    background-position: 50% 64%;
    background-size: 90%, 100%;
  }
  @media screen and (min-width: $xxxl) {
    background-position: 50% 64%;
    background-size: 90%, 100%;
  }
}

.bg-splash-02 {
  background-image: url('/public/img/bg-landing-page.svg');
  background-repeat: no-repeat;
  background-position: 50vw 46%;
  background-size: 200%;
  @media screen and (min-width: $md1) {
    background-size: 100%;
  }
}
