.status-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: .25rem;
  padding-bottom: .25rem;
  border-top: 1px solid $color-neutral--10;
  background-color: $color-neutral--04;
  font-size: .6875rem;
  text-align: center;
  .container {
    overflow: hidden;
  }
}
.status-bar-status {
  float: left;
}
.status-bar-stats {
  float: right;
}
