// Breakpoint definitions
$xs: 20rem; // 320px;
$sm: 30rem; // 480px
$md1: 40rem; // 640px
$md2: 48rem;  // 768px;
$lg: 64rem; // 1024px
$xl: 80rem; // 1280px;
$xxl: 90rem; // 1440px
$xxxl: 110rem; // 1600px

// Transitions
$transition-duration: .05s;
$transition-timing-function: ease-out;
