<div class="header-info">
  <h1>About Dat</h1>
</div>

<div class="content-text-container">
  <div class="content-text-intro">Dat is an grant funded, open source project housed in the <a href="http://usodi.org/">US Open Data Institute</a>. While dat is a general purpose tool, we have a focus on open science use cases.</div>
  <div class="content-text-paragraph">The high level goal of the dat project is to build a streaming interface between every database and file storage backend in the world. By building tools to build and share data pipelines we aim to bring to data a style of collaboration similar to what git brings to source code.</div>
  <div class="content-text-paragraph">The first code went into dat <a href="https://github.com/maxogden/dat/commit/e5eda57b53f60b05c0c3d97da90c10cd17dcbe19">on August 17th 2013</a>. The first six months were spent making a prototype (thanks to the <a href="http://www.knightfoundation.org/grants/201346305/">Knight foundation Prototype Fund</a>) and the last six months have been spent on taking dat beyond the prototype phase and into something more concrete (the Dat Alpha release).</div>
  <div class="content-text-paragraph">In April 2014 we were able to expand the team working on dat from 1 person to 3 persons, thanks to <a href="http://usodi.org/2014/04/02/dat">support from the Sloan foundation</a>. Sloan's proposition was that they like the initial dat prototype but wanted to see scientific data use cases be treated as top priority. As a result we expanded the scope of the project from its tabular data specific beginnings and have focused on adding features that will help us work with larger open scientific datasets.
  </div>
</div>
