<div class="app-page">
  <div class="app-text-container">
    <h1>{{user.handle}}</h1>

    <form id="form" class="form-horizontal" on-submit="submit">

      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" id="inputEmail" value="{{user.data.email}}"  />
          <p class="help-block">This is public information!</p>
        </div>
      </div>

      <div class="form-group">
        <label for="inputLocation" class="col-sm-2 control-label">Location</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="inputLocation" value="{{user.data.location}}"  />
          <p class="help-block">Also public.</p>
        </div>
      </div>

      <div class="form-group">
        <label for="inputWebsite" class="col-sm-2 control-label">Website</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="inputWebsite" value="{{user.data.blog}}"  />
          <p class="help-block">Let people know where to find you.</p>
        </div>
      </div>

      <div class="form-group">
        <label for="inputBio" class="col-sm-2 control-label">Bio</label>
        <div class="col-sm-6">
          <textarea class="form-control" id="inputBio" value="{{user.data.bio}}">
          </textarea>
          <p class="help-block">Who are you and why are you using dat?</p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>