
<div class="app-page">
  <div class="app-text-container">
  <h1>profile</h1>
    {{#if loggedin}}
        <a class="caption" href="/settings">
          <div class="button">Settings</div>
        </a>
        <a class="caption" on-click="logout">
          <div class="button">Logout</div>
        </a>
    {{/if}}
    <div class="row">
      <img class="content-card-avatar medium"
           data-user="{{profile.handle}}" />
      <p>{{profile.handle}}<br>
      {{profile.data.email}}<br>
      {{profile.data.location}}<br>
      <a class="no-page" href="{{profile.data.blog}}" target="_blank">
        {{profile.data.blog}}</a>
      <br>{{profile.data.bio}}
      </p>
    </div>

    <div class="row">
      <listMetadats metadats="{{metadats}}"></listMetadats>
    </div>
  </div>
</div>