<div class="app-page">
  <div class="app-text-container">
    {{#if user}}
    <a class="caption" href="/settings">
      <div class="button">Settings</div>
    </a>
    <a class="caption" on-click="logout">
      <div class="button">Logout</div>
    </a>
    {{/if}}
    <div class="row">
      <img class="content-card-avatar medium" src="{{user.picture}}" />
      {{user.nickname}}<br>
      {{user.email}}<br>
      {{user.location}}<br>
      <a class="no-page" href="{{profile.data.blog}}" target="_blank">{{user.blog}}</a><br>
      <p>{{user.bio}}</p>
    </div>

    <div class="row">
      <listMetadats metadats="{{metadats}}"></listMetadats>
    </div>
  </div>
</div>
