<div class="app-page">
  <div class="app-text-container">

    <div class="row">
      <div class="content-card-small-avatar"
           data-user="{{user.data.login}}"></div>

      <h1>{{user.handle}}</h1>

      <p>{{user.data.email}}. {{user.data.location}}</p>

      <p><a class="no-page" href="{{user.data.blog}}" target="_blank">{{user.data.blog}}</a></p>

      {{#if user.data.bio}}
        <p>{{user.data.bio}}</p>
      {{/if}}

    </div>
    <div class="row">
      <listMetadats metadats="{{metadats}}"></listMetadats>
    </div>
  </div>
</div>