<div class="top-header">
  profile settings
</div>

<div class="app-page">
  <div class="app-text-container">

    <form class="form" on-submit="submit">

      <div class="row">
        <label for="inputEmail" class="two columns control-label">Username</label>

        <div class="six columns">{{user.handle}}</div>
      </div>

      <div class="row">
        <label for="inputEmail" class="two columns control-label">Email</label>
          <input type="email" class="six columns" id="inputEmail" value="{{user.data.email}}"  />
      </div>

      <div class="row">
        <label for="inputLocation" class="two columns control-label">Location</label>
          <input type="text" class="six columns" id="inputLocation" value="{{user.data.location}}"  />
      </div>

      <div class="row">
        <label for="inputWebsite" class="two columns control-label">Website</label>
          <input type="text" class="six columns" id="inputWebsite" value="{{user.data.blog}}"  />
      </div>

      <div class="row">
        <label for="inputBio" class="two columns control-label">Bio</label>
          <textarea class="six columns" id="inputBio" value="{{user.data.bio}}">
          </textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="button button-primary">Save</button>
      </div>
    </form>
  </div>
</div>