<div class="jumbotron-info">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="jumbotron-title">Open data, collaborated</h1>
        <div class="jumbotron-horizontal-rule"></div>
        <div class="jumbotron-description">Dat is an open source project that provides a streaming interface between every file format and data storage backend.</div>
        <a href="#content">What can Dat do?</a>
      </div>
      <div class="col-md-6 jumbotron-video">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/tP_6N7mMKok" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="content-title">Dat Client</div>
<div class="content-horizontal-rule"></div>
<div class="content-sub-container content-feature-cards">
  <div class="content-feature-card">
    <img src="/static/img/dat-hex-1.png">
    <div class="content-card-title">Streaming</div>
    <div class="content-card-subtitle">Everything in dat is built using streaming + non-blocking components so that you can work with large datasets and get immediate, real-time results without running out of RAM.</div>
  </div>
  <div class="content-feature-card">
    <img src="/static/img/dat-hex-2.png">
    <div class="content-card-title">Made with Modules</div>
    <div class="content-card-subtitle">Dat stores data locally, but you can easily configure it to store its tabular data in the database of your choice (e.g. PostgreSQL) and its files in external file stores (e.g. Google Drive).</div>
  </div>
  <div class="content-feature-card">
    <img src="/static/img/dat-hex-3.png">
    <div class="content-card-title">REST and CLI</div>
    <div class="content-card-subtitle">You can stream data in and out of dat from the command line using any program that can write to stdin (e.g. R, Python, Ruby, etc) or you can use dat's built in HTTP REST API.</div>
  </div>
</div>
<div class="content-title">Sponsors and supporters</div>
<div class="content-horizontal-rule"></div>
<div class="content-sub-container content-logos">
  <a href="http://www.sloan.org/major-program-areas/digital-information-technology/data-and-computational-research/"><img src="/static/img/sloan.png"></a>
  <a href="http://www.knightfoundation.org/grants/201346305/"><img src="/static/img/knight.png"></a>
  <a href="http://usodi.org/"><img src="/static/img/usodi.png"></a>
</div>
