<div class="row">
  <h1>Publish all bits.</h1>
  <h2>We're a not for profit service dedicated to making it easy to share containers and data together</h2>
  <div class="list-item">
    <h2>Step 0: Install</h2>
    <p>npm install -g dat</p>
  </div>
  <div class="list-item">
    <h2>Step 1: Create</h2>
    <p>Add your entire code base, source data, and dependencies.</p>
  </div>
  <div class="list-item">
    <h2>Step 2: Share</h2>
    <p>Whenever you're ready, `dat publish` and publicbits will create a public repository just for you. </p>
  </div>
  <div class="list-item">
    <h2>Step 3: Iterate</h2>
    <p>At any time, you can `dat push` and publicbits will update your repository.</p>
  </div>
  <hr>
  <h1>Want more information? <button class="button button-primary" href="/publish">Read the full documentation</button></h1>
</div>
