
.blog-layout {
  margin: 30px;
  .post {
    padding: 20px 0px;
    border-bottom: 2px solid $color-neutral-10;
  }
}

a.load-document {
  text-decoration: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-flex;
  color: $color-neutral;
  transition: .25s;
}

.sidebar-list {
  max-width: 100%;
  @media screen and (min-width: $small) {
    max-width: 25%;
  }

  .document {
    padding: 2rem 0;
    width: 100%;
    border-bottom: 1px solid $color-neutral-10;
    &.active {
      h2 {
        font-weight: bold;
      }
    }
    &:hover, &:focus {
      color: $color-info;
    }
  }
}

.post {
  margin: auto;
  max-width: 720px;

  h3 {
    font-size: 1.25rem;
    margin: 10px 0px;
  }
  h1 {
    margin: 0px;
  }
  .teaser {
    font-size: 1.5rem;
  }
  img {
    max-width: 100%
  }
  p {
    margin-bottom: 0px;
  }
}

td, th {
  padding: 10px;
  border: 1px solid black;
}
