.post {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding-bottom: 2rem;
  ul, li {
    list-style: inherit;
    list-style-type: inherit;
  }
  img {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
  pre, code {
    font-family: "Source Code Pro", monospace;
  }
  code {
    padding: 0 .25em;
    background-color: rgba($color-red-disabled, .25);
    font-size: .9em;
    font-weight: normal;
    font-style: normal;
  }
  pre code {
    background-color: transparent;
  }
  table {
    width: 100%;
    margin-bottom: 1.5rem;
    border-collapse: collapse;
    font-size: .75rem
  }
  td, th {
    padding: .5rem;
    border: 1px solid $color-neutral-20;
  }
  th {
    line-height: 1.25;
  }
  hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-bottom: 1px solid $color-green;
  }
}

.post:not(:first-child) {
  padding-top: 2rem;
}

.post--preview {
  background: $color-white;
  padding: 1.5rem 2rem 2rem;
}

.teaser {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

a.load-document {
  text-decoration: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-flex;
  color: $color-neutral;
  transition: .25s;
}
