.copy-link,
.open-desktop {
  white-space: nowrap;
  svg {
    max-width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -9%;
  }
}

.example-data-img {
  display: block;
  width: 100%;
  max-width: 5rem;
}
