
.header {
  background-color: $color-white;
  border-bottom: 1px solid $color-neutral--04;
}

.header-nav-link {
  color: $color-neutral;
  &.active {
    color: $color-info;
  }
  &:hover, &:focus {
    color: $color-neutral--80;
  }
}

.header-logo {
  display: inline-block;
  font-weight: 600;
  float: left;
  font-size: 2rem;
  line-height: $header-height;
  background-image: url('/static/img/dat-data-blank.png');
  background-size: 1.75rem;
  background-repeat: no-repeat;
  padding-left: 2.5rem;
  background-position: 0 .9rem;
  color: $color-neutral;
  overflow: hidden;
  max-width: 48px;
  &:hover, &:focus {
    color: $color-neutral--80;
    text-decoration: none;
  }
  @media screen and (min-width: 400px) {
    max-width: 300px;
  }
}

.main-nav {
  float: right;
  line-height: $header-height;
  display: inline-block;
  list-style: none;
  a:not(:last-child) {
    margin-right: 15px;
    @media screen and (min-width: 650px) {
      margin-right: 30px;
    }
    @media screen and (min-width: 1024px) {
      margin-right: 45px;
    }
  }
  a {
    font-size: .875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: inline-block;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}
