// Containers

$xsmall: 30rem; /* 480px */
$small: 40rem; /* 640px */
$medium: 64rem; /* 1024px */
$large: 87.5rem; /* 1400px */
$huge: 110rem; /* 1600px */


$header-height: 3.75rem;

// Transitions

$transition-duration: .05s;
$transition-timing-function: ease-out;
