/**
 * Use awesome syntax of `node-sass-magic-importer` to import scss modules
 * See import `dat-design` rule below for example.
 * If there's no file path specified after module name, it resolves to the file
 * defined by the imported package.json's `style` property
 *
 * More magic importer features:
 * https://github.com/maoberlehner/node-sass-magic-importer
 */
@import "~dat-design/scss/base.scss";

@import "shared-imports/variables";
@import "shared-imports/colors";
@import "shared-imports/bg-colors";
@import "shared-imports/base";
@import "shared-imports/layout";
@import "shared-imports/grid";
@import "shared-imports/site-header";
@import "shared-imports/header-logo";
@import "shared-imports/sections";
@import "shared-imports/horizontal-rule";
@import "shared-imports/block-create";
@import "shared-imports/screenshot";

@import "imports/inline-error";
@import "imports/status-bar";
@import "imports/dat-header";
@import "imports/message";
@import "imports/gravatar";
@import "imports/file-system";
@import "imports/add-button";
@import "imports/panel"; //
@import "imports/error-page";
@import "imports/preview"; // TODO: this should move into dat-design - @lauren
@import "imports/landing-page";
@import "imports/preview-display"; // TODO: delete this after choo migration
@import "imports/landing-page";
@import "imports/list";
@import "imports/side-panel";

@import "shared-imports/tachyons";
