body {
  // mixin is being imported from "~dat-design/scss/responsive/breakpoints.scss":
  @include breakpoint (xs) {
    // sample rule here to demo:
    // background: red;
  }
  @include breakpoint (sm) {
    // sample rule here to demo:
    // background: yellow;
  }
}

// breakpoint testing helper
body {
  position: relative;
  &:before {
    position: absolute;
    width: auto;
    top: 0;
    right: 50%;
    font-size: 8px;
    padding: 2px;
    background-color: black;
    color: white;
    z-index: 100;
    transition: all .1s ease-in-out;
    content: '';
    opacity: .8;
    @include breakpoint (xs) {
      content: 'We’re on breakpoint xs';
      background-color: red;
    }
    @include breakpoint (sm) {
      content: 'We’re on breakpoint sm';
      background-color: yellow;
      color: black;
    }
  }
}
