/**
 * Use awesome syntax of `node-sass-magic-importer` to import scss modules
 * "@import ~xxx" resolves to a node module named `xxx`
 * If there's no file path specified after module name, it resolves to the file
 * defined by the imported package.json's `style` property
 *
 * More magic importer features:
 * https://github.com/maoberlehner/node-sass-magic-importer
 */
@import "~dat-design/scss/base.scss";
@import "imports/base";
@import "imports/site-header";
@import "imports/status-bar";
@import "imports/dat-header";
@import "imports/file-system";
@import "imports/add-button";
@import "imports/import-queue";
@import "imports/panel"; //
@import "imports/error-page";
@import "imports/preview"; // TODO: this should move into dat-design - @lauren
@import "imports/landing-page";
@import "imports/preview-display"; // TODO: delete this after choo migration
@import "imports/introjs-custom"; 
