#display {
  margin-bottom: 4rem;
  img,
  video {
    margin: 10px;
  }
  iframe {
    width: 100%;
    height: 70%;
    border: 1px solid $color-neutral--20;
  }
  table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  table th,
  table td {
    text-align: left;
    padding: 5px 10px;
    color: $color-neutral;
    min-height: 1.42857143;
  }
}
