/**
 * Use awesome syntax of `node-sass-magic-importer` to import scss modules
 * See import `dat-design` rule below for example.
 * If there's no file path specified after module name, it resolves to the file
 * defined by the imported package.json's `style` property
 *
 * More magic importer features:
 * https://github.com/maoberlehner/node-sass-magic-importer
 */
@import "~dat-design/scss/base.scss";

@import "shared-imports/variables";
@import "shared-imports/base";
@import "shared-imports/layout";
@import "shared-imports/grid";
@import "shared-imports/site-header";
@import "shared-imports/header-logo";

@import "includes/footer";
@import "includes/cli-tutorial";
@import "includes/sponsor-logos";
@import "includes/example-datasets";
@import "includes/gallery";
@import "includes/video";
@import "includes/blog";

@import "shared-imports/tachyons";

.mono {
  font-family: monospace;
}

.header-continue {
  margin: 30px 0 50px;
}

.content-box {
  padding: 40px 40px 20px 40px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  .content-title {
    line-height: 3.5rem;
    margin-top: .5rem;
    padding-top: 0;
  }
  iframe {
    max-width: 480px;
    width: 100%;
  }
}

a {
  color: $color-info;
  font-weight: 300;
  text-decoration: none;
  &:hover, &:focus {
    color: $color-info-hover;
    text-decoration: none;
  }
}

p {
  padding: .5rem 0;
}

pre {
  padding: .5em;
  font-size: .875rem;
  background-color: $color-neutral;
  color: $color-neutral-10;
  border: none;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
}

ul {
  list-style: initial;
  padding-left: 1rem;
}

.mobile-only {
  display: block;
  @media screen and (min-width: $small) {
    display: none;
  }
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media screen and (min-width: $small) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @media screen and (min-width: $medium) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.section--hero {
  padding-top: 0;
  padding-bottom: 0;
  .container {
    padding-bottom: 2rem;
  }
  @media screen and (min-width: $medium) {
    background-image: url('/public/img/screenshot-dat-desktop.png');
    background-repeat: no-repeat;
    background-color: $color-white;
    background-position: 130% 100%;
    background-size: 60%;
  }
  @media screen and (min-width: 1180px) {
    background-position: 100% 100%;
    background-size: 50%;
    .container {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
}

.content-title {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: .5rem;
}
.content-subtitle {
  font-size: 1.25rem;
  color: $color-neutral-70;
  padding-bottom: 15px;
}

.bg-neutral {
  .content-subtitle,
  .content-card-subtitle {
    color: $color-neutral-40;
  }
  a {
    color: $color-info;
  }
}

.horizontal-rule {
  &:after {
    content: '';
    display: block;
    width: 4rem;
    height: 5px;
    background-color: $color-neutral-30;
    margin-top: 1.25rem;
    margin-bottom: 2rem;
  }
}
.content-code-intro {
  text-align: left;
  margin-bottom: 60px;
}
.content-card {
  position: relative;
  background-color: $color-white;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  padding: 2rem;
  margin-bottom: 3rem;
  text-align: left;
}
.content-card-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
}
.content-card-subtitle {
  color: $color-neutral-70;
  line-height: 1.75;
}
