/**
 * Use awesome syntax of `node-sass-magic-importer` to import scss modules
 * See import `dat-design` rule below for example.
 * If there's no file path specified after module name, it resolves to the file
 * defined by the imported package.json's `style` property
 *
 * More magic importer features:
 * https://github.com/maoberlehner/node-sass-magic-importer
 */
@import "~dat-design/scss/base.scss";

@import "shared-imports/variables";
@import "shared-imports/colors";
@import "shared-imports/bg-colors";
@import "shared-imports/base";
@import "shared-imports/layout";
@import "shared-imports/grid";
@import "shared-imports/site-header";
@import "shared-imports/header-logo";
@import "shared-imports/sections";
@import "shared-imports/horizontal-rule";
@import "shared-imports/block-create";
@import "shared-imports/screenshot";

@import "includes/footer";
@import "includes/cli-tutorial";
@import "includes/sponsor-logos";
@import "includes/example-datasets";
@import "includes/gallery";
@import "includes/video";
@import "includes/blog";

@import "shared-imports/tachyons";

h2, h3 {
  font-weight: 300;
}

p {
  padding: .5rem 0;
}

pre {
  padding: .5em;
  font-size: .875rem;
  background-color: $color-neutral;
  color: $color-neutral-10;
  border: none;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
}

ul {
  list-style: initial;
  padding-left: 1rem;
}

.mobile-only {
  display: block;
  @media screen and (min-width: $small) {
    display: none;
  }
}

.content-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}
.content-subtitle {
  font-size: 1.25rem;
  color: $color-neutral-70;
  padding-bottom: 15px;
}

.bg-neutral {
  .content-subtitle,
  .content-card-subtitle {
    color: $color-neutral-40;
  }
  a {
    color: $color-blue;
  }
}
.content-code-intro {
  text-align: left;
  margin-bottom: 60px;
}
.content-card {
  position: relative;
  background-color: $color-white;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  padding: 2rem;
  margin-bottom: 3rem;
  text-align: left;
}
.content-card-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
}
.content-card-subtitle {
  color: $color-neutral-70;
  line-height: 1.75;
}
