<div class="header-info">
  <h1>Profile</h1>
</div>

<div class="content-text-container">
  <form class="form-horizontal" role="form">

    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">Handle</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="inputEmail" placeholder="{{user.handle}}" disabled />
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-3">
        <input type="email" class="form-control" id="inputEmail" placeholder="{{user.data.email}}" disabled />
      </div>
    </div>

    <div class="form-group">
      <label for="inputLocation" class="col-sm-2 control-label">Location</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="inputLocation" placeholder="{{user.data.location}}" disabled />
      </div>
    </div>

    <div class="form-group">
      <label for="inputWebsite" class="col-sm-2 control-label">Website</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="inputWebsite" placeholder="{{user.data.blog}}" disabled />
      </div>
    </div>

    <div class="form-group">
      <label for="inputBio" class="col-sm-2 control-label">Bio</label>
      <div class="col-sm-4">
        <textarea class="form-control" id="inputBio"  disabled>
          {{user.data.bio}}
        </textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-3">
        <button type="submit" class="btn btn-danger" disabled>Save</button>
      </div>
    </div>
  </form>
</div>