<div class="header-info">
  <h1>Publish</h1>
</div>

<div class="content-text-container">
  <form class="form-horizontal" role="form">

    <h2>Let's all join the data party!</h2>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" id="inputURL" placeholder="http://" value="http://" />
        <p class="help-block">This is the URL where your dat is stored. Don't have one yet? <a href="/docs">Don't worry, you got this.</a></p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputHandle" placeholder="Enter your username..."  />
      </div>
      <div class="col-sm-6">
        <p class="side help-block">You made this when creating your dat.</p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <input type="password" class="form-control" id="inputName" placeholder="Enter your password..."  />
      </div>
      <div class="col-sm-6">
        <p class="side help-block">You created a password at the same time too. </p>
        <p class="help-block"><a href="/docs#password">Did you forget? It's ok.</a></p>
      </div>
    </div>
      <h2>This stuff is pulled automatically from the dat.json file</h2>
<pre class="col-sm-12">
{{dat.json}}
</pre>
      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="inputName" value="{{dat.name}}" disabled />
          <p class="help-block">This updates when your dat updates.</p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <textarea class="form-control" id="inputDescription" disabled>
            {{dat.description}}
          </textarea>
          <p class="help-block">Descriptions are cozy. We should probably rename it to README.</p>
        </div>
      </div>


    <div class="form-group">
      <div class="col-sm-offset-10 col-sm-12">
        <button type="submit" class="btn btn-success" disabled>Publish</button>
      </div>
    </div>
  </form>
</div>