/* Colors */
/* Containers */
.dropdown-menu {
  min-width: 0px;
}
.hd-xl,
h1,
.jumbotron-title {
  font-size: 4rem;
  line-height: 4.5rem;
}
.hd-l,
h2 {
  font-size: 2.25rem;
  line-height: 2.75rem;
}
.hd-m,
h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}
.hd-s,
h4 {
  font-size: 1.75em;
  line-height: 2.25em;
}
.hd-xs,
h5 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.hd-xxs,
h6 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.header-info,
.jumbotron-info {
  padding-top: 80px;
  background-image: url('/static/img/header-abstract.png');
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: 120% -10px;
  padding-left: 160px;
  border-bottom: 1px solid #dfe2e4;
  padding-bottom: 10px;
}
.header-search-box {
  min-width: 100px;
  max-width: 250px;
  width: 25%;
  float: left;
  margin: 20px;
}
a {
  transition: all 0.25s ease;
}
.header a,
.header a:visited {
  color: #2a3749;
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
}
.header-logo {
  display: inline-block;
  font-weight: 600;
  float: left;
  font-size: 36px;
  background-image: url('/static/img/dat-hex-small.png');
  background-size: 40px;
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position: 0px 8px;
  margin-left: 150px;
  margin-top: 8px;
}
.profile {
  float: right;
  margin-top: 15px;
}
.header-nav {
  height: 80px;
  position: absolute;
  padding: 0px 20px;
  min-width: 800px;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  background-color: #fdfdfd;
  font-weight: 700;
  color: #2a3749;
  font-size: 20px;
  border-bottom: 1px solid #f0f0f0;
}
.header-nav-links {
  margin-right: 120px;
  float: right;
}
.header-nav-list {
  line-height: 80px;
  margin: 0;
}
.header-nav-list,
.header-nav-list li {
  display: inline-block;
}
.header-nav-list li {
  margin-right: 30px;
}
.banner {
  color: #fdfdfd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}
.banner.success {
  background-color: #35b44f;
}
.banner.error {
  background-color: #c0392b;
}
.banner-text {
  text-align: center;
}
@media screen and (max-width: 650px) {
  .hidden-mobile {
    display: none;
  }
}
@media screen and (max-width: 1115px) {
  .header-info,
  .jumbotron-info {
    background-image: none;
    position: inherit;
    width: 100%;
  }
  .header-info {
    padding: 80px 0px 0px 20px;
  }
  .jumbotron-info {
    padding: 0px 0px 0px 20px;
  }
  .header-logo {
    margin-left: 20px;
  }
  .header-description {
    width: auto;
  }
  .header-nav-links {
    margin-right: 0px;
  }
  .footer-directory {
    padding: 20px;
  }
  .content {
    margin-top: 0;
  }
  .content-feature-card {
    margin: 0 auto 20px auto;
  }
  .content-sub-container {
    margin: 0 20px 20px 20px;
    padding-top: 30px;
  }
  .content-text-container {
    padding: 20px;
  }
  .content-text-intro {
    width: 100%;
  }
  .content-text-paragraph {
    width: 100%;
  }
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}
.button {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #35b44f;
  padding: 7px 14px;
  border-radius: 5px;
}
.button:hover {
  background-color: #a9ce7f;
}
.jumbotron-title {
  padding-top: 40px;
}
.jumbotron-horizontal-rule {
  width: 100%;
  max-width: 64px;
  height: 4px;
  background: #bfc3c8;
  margin: 5px 0;
}
.jumbotron-description {
  width: 100%;
  max-width: 525px;
  font-size: 20px;
  margin: 20px 0;
  color: #6A7380;
}
.jumbotron-continue {
  font-size: 20px;
  font-weight: 700;
  color: #35B44F;
  padding-right: 10px;
  padding-bottom: 50px;
}
.jumbotron-continue a {
  color: #35B44F;
}
.jumbotron-spacer {
  height: 80px;
}
.content {
  background-color: #f4f5f6;
  overflow: auto;
}
.content a,
.content-a :visited {
  color: #35B44F;
  font-weight: 600;
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}
.content-title {
  font-size: 32px;
  font-weight: 700;
  color: #2A3749;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 5px;
  border-top: 1px solid #dfe2e4;
}
.content-subtitle {
  font-size: 20px;
  color: #6A7380;
  text-align: center;
}
.content-horizontal-rule {
  width: 64px;
  height: 4px;
  background: #bfc3c8;
  margin: 15px auto;
}
.content-sub-container {
  margin: 0 160px 70px 160px;
  padding-top: 30px;
  overflow: auto;
  text-align: center;
}
.content-card {
  position: relative;
  background: white;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  padding: 30px 30px 25px 30px;
  border-radius: 4px;
  margin-bottom: 50px;
}
.content-sub-container > :last-child {
  margin-right: 0;
}
.content-card-title {
  font-weight: 700;
  font-size: 24px;
  color: #2A3749;
  text-align: center;
  margin-top: 15px;
}
.content-card-subtitle {
  font-size: 16px;
  color: #6A7380;
  text-align: center;
  line-height: 28px;
}
.content-feature-card .content-card-title {
  margin-top: 25px;
}
.content-feature-card .content-card-subtitle {
  margin-top: 15px;
}
.content-feature-card {
  width: 335px;
  margin-right: 54px;
  display: inline-block;
}
.content-feature-card img {
  margin: 0 auto;
  display: block;
}
.content-feature-cards > :last-child {
  margin-right: 0;
}
.content-text-container {
  padding: 50px 160px 50px 160px;
  max-width: 900px;
  width: 65%;
  margin: auto;
  background-color: #fff;
  overflow: auto;
  background-color: #f4f5f6;
}
.content-text-h1 {
  font-size: 36px;
  font-weight: 700;
  color: #2A3749;
}
.content-text-intro {
  font-size: 20px;
  color: #6A7380;
  margin-bottom: 25px;
  width: 60%;
}
.content-text-paragraph {
  font-size: 16px;
  color: #2A3749;
  margin-bottom: 10px;
  width: 60%;
}
.content-text-container a,
.content-text-container a:visited {
  color: #35B44F;
  text-decoration: none;
}
.content-text-container a:hover {
  text-decoration: underline;
}
.content-card-small {
  width: 255px;
  background: white;
  border-radius: 4px;
  position: relative;
  min-height: 400px;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 50px;
}
.content-card-small a,
.content-card-small a:visited {
  color: #35B44F;
  text-decoration: none;
}
.content-card-small a:hover {
  text-decoration: underline;
}
.content-card-small-contents {
  padding: 60px 30px 25px 30px;
}
.content-card-small-subtitle {
  font-size: 16px;
  color: #6A7380;
  line-height: 24px;
  margin-top: 10px;
}
.content-card-small-stripe {
  height: 96px;
  background-color: #2a3749;
}
.content-card-small-avatar {
  background-color: #fff;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-size: 46px;
  border: 4px solid white;
  box-shadow: 1px 1px #eee;
}
.content-logos p {
  text-align: center;
  text-transform: uppercase;
}
.content-logos {
  margin: 0 335px;
  padding-bottom: 100px;
}
.content-logos > a {
  margin: 20px;
  display: inline-block;
}
.content-logos > :last-child {
  margin-right: 0;
}
.content-logos div {
  display: inline-block;
}
.footer {
  background-color: #2a3749;
  overflow: auto;
  color: #959ba4;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-directory {
  overflow: auto;
  padding: 50px 160px 30px 160px;
  border-bottom: 1px solid #3f4b5b;
}
.footer-credits {
  padding: 50px 0;
  text-align: center;
}
.footer-heading {
  font-size: 24px;
  color: white;
}
.footer-column {
  float: left;
  margin-right: 100px;
}
.footer-horizontal-rule {
  width: 32px;
  height: 4px;
  background: #6a7380;
  margin: 10px 0 30px 0;
}
.footer-nav-list {
  list-style-type: none;
  padding-left: 0;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
}
.footer-nav-list li {
  margin-bottom: 3px;
}
.footer-emphasized {
  font-weight: 700;
}
.footer-subtitle {
  padding-top: 10px;
}
.code-container {
  background-color: #3F4B5B;
  padding: 5px 15px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
.rsaquo {
  color: #35B44F;
  margin-right: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.octocat {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  background-image: url('/static/img/octocat.png');
  margin-right: 10px;
}
.octocat-green {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 17px;
  height: 17px;
  background-image: url('/static/img/octocat-green.png');
  margin-right: 10px;
}
.twitter-green {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 17px;
  height: 17px;
  background-image: url('/static/img/twitter-green.png');
  margin-right: 10px;
}
.bitcoin {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 13px;
  height: 18px;
  background-image: url('/static/img/bitcoin.png');
  margin-right: 10px;
}
#content {
  margin-top: 0px;
}
