<div class="row banner {{message.type}}">
  <div class="banner-text">{{message.text}}</div>
</div>

<div class="sidebar {{sidebar}}">
  <div class="sidebar__header">
    <a href="/"><div class="header-logo">dathub</div></a>
  </div>

  <ul class="sidebar__nav">
  {{#if user}}
    <a href="/profile/{{user.handle}}">
      <li>
        <img class="content-card-avatar small" data-user="{{user.handle}}" />
        {{user.handle}}
      </li>
    </a>
    {{/if}}
    {{#if !user}}
    <a class="no-page" href="/auth/github/login/">
      <li>
        Login with GitHub
      </li>
    </a>
    {{/if}}
    <a href="/browse"><li>Browse</li></a>
    <a href="/publish"><li>Publish</li></a>
    {{#if user.admin}}
    <a href="/admin"><li>Admin</li></a>
    {{/if}}
  </ul>

  <div class="sidebar__footer">
    <a href="http://github.com/karissa/dathub"><span class="octocat-green"></span></a>
    <a href="http://twitter.com/dat_project"><span class="twitter-green"></span></a>
    <a href="/about">?</a>
  </div>

</div>

<div id="content">
</div>