<div class="row banner {{message.type}}">
  <div class="banner-text">{{message.text}}</div>
</div>
<div class="header">
  <div class="container">
    <div class="row">
      <div class="three columns">
        <a href="/"><div class="header-logo">publicbits</div></a>
      </div>
      <div class="six columns">
        <div class="input-group form">
          <input class="form-control" type="search" value="{{searchQuery}}" placeholder="Search">
          <button type="submit" on-click="search" class="button">go</button>
        </div>
      </div>
      <div class="three columns u-pull-right">
        {{#if user}}
          <div class="boop?">
          <a href="/profile/{{user.handle}}"><div class="content-card-small-avatar"
               data-user="{{user.data.login}}"></div></a>
               </div>
          <a on-click="logout" class="no-page">Logout</a>
        {{else}}
        <a class="no-page" href="/auth/github/login/" >
          <div class="button button-primary">Login with GitHub</div>
        </a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div id="content" class="container padded">
</div>
<div class="row footer">
  <div class="row footer-directory container padded">
    <div class="two columns">
      <div class="footer-heading">Explore</div>
      <div class="footer-horizontal-rule"></div>
      <ul class="footer-nav-list">
        <li><a href="http://www.stickermule.com/marketplace/1892-dat-2-hexagon-sticker-v2"> Get Stickers</a></li>
        <li><a href="/blog"> Blog</a></li>
      </ul>
    </div>
    <div class="two columns">
      <div class="footer-heading">Connect</div>
      <div class="footer-horizontal-rule"></div>
      <ul class="footer-nav-list">
        <li><a href="https://twitter.com/dat_project"><span class="twitter-green"></span>Twitter</a></li>
        <li><a href="https://github.com/maxogden/dat"><span class="octocat-green"></span>GitHub</a></li>
      </ul>
    </div>
    <div class="six columns">
      <div class="footer-heading">Support</div>
      <div class="footer-horizontal-rule"></div>
      <div class="code-container">
        <span class="bitcoin"></span>
        19DqLuAssLa2XpVd8GabgMBCFTjXPYTbbV
      </div>
      <div class="footer-subtitle">Support dat by donating Bitcoins to our address above.</div>
      <div class="footer-subtitle">You can also <a href="https://coinbase.com/checkouts/4c07b345e596636fbd6b269abbf1689f" target="_blank">donate with Coinbase</a>.</div>
    </div>
  </div>
  <div class="row centered container">
    <span class="footer-emphasized">dat</span> &bull; 2014 &bull; page source on <a href="https://github.com/karissa/dathub">github</a>. Freezing Rain designed by <a href="http://www.thenounproject.com/OliM">OliM</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
  </div>
</div>