// header for a single dat

.dat-header {
  background-color: $color-neutral--04;
  border-bottom: 1px solid $color-neutral--10;
  font-size: .8125rem;
}

.share-link {
  font-size: 1.375rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dat-details {
  padding-top: 1.5rem;
  padding-bottom: .25rem;
}

.dat-detail {
  display: inline-block;
  margin-right: 1.5rem;
  color: $color-neutral--80;
}
