/**
 * Use awesome syntax of `node-sass-magic-importer` to import scss modules
 * "@import ~xxx" resolves to a node module named `xxx`
 * If there's no file path specified after module name, it resolves to the file
 * defined by the imported package.json's `style` property
 *
 * More magic importer features:
 * https://github.com/maoberlehner/node-sass-magic-importer
 */
@import "~dat-design";
@import "~dat-design/scss/base.scss";
@import "site-header.scss";
@import "dat-header.scss";
@import "file-system.scss";
@import "file-queue.scss";
@import "helper-breakpoints.scss";


a, button, input {
  transition-property: background-color, color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  cursor: pointer;
}

a {
  color: $color-green;
}

a:hover, a:focus {
  color: $color-green--hover;
  outline: none;
}

ul,
li {
  @include list-plain;
}

/* box model */

.container {
  margin: 0 auto;
  padding: .75rem 2rem;
  max-width: 1170px;
}

#speed {
  display: none;
  float: right;
  line-height: 37px;
  margin: 0 10px 0 0px;
  padding: 0;
  width: 320px;
  span {
    font-weight: normal;
    font-size: .8125rem;
    line-height: 37px;
  }
}

.breadcrumbs {
  margin-bottom: 1rem;
  min-height: 2em;
}

.status-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $color-neutral--04;
  border-top: 1px solid $color-neutral--10;
  font-size: .6875rem;
  text-align: center;
}
.status-bar-status {
  float: left;
}
.status-bar-stats {
  float: right;
}

#display {
  margin-bottom: 4rem;
  img,
  video {
    margin: 10px;
  }
  iframe {
    width: 100%;
    height: 70%;
    border: 1px solid $color-neutral--20;
  }
  /* render data */
  table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  table th,
  table td {
    text-align: left;
    padding: 5px 10px;
    color: $color-neutral;
    min-height: 1.42857143;
  }
}

#get_link {
  z-index: 10;
  position: absolute;
}
