/* header */

.site-header {
  height: 4rem;
  background-color: $color-green--hover;
  color: $color-white;
}

.site-header__actions {
  float: right;
}

.dat-import {
  display: inline-block;
  margin-top: -.25rem;
  vertical-align: middle;
}

.dat-logo {
  width: 6.5rem;
  float: left;
}

// dat-button
.dat-button {
  display: inline-block;
  padding-top: .4rem;
  padding-bottom: .4rem;
  button {
    &:hover, &:focus, &:active {
      color: $color-neutral--04;
      outline: none;
      cursor: pointer;
    }
  }
}

.dat-button--new-dat {
  margin-right: 1rem;
}
