<div class="header">
  <div class="header-nav">
    <div class="header-nav-links">
      <ul class="header-nav-list">
        {{#if user}}
        <li><a href="/publish">Publish</a></li>
        {{else}}
        <li><span data-toggle="tooltip" data-placement="bottom" title="You must login to publish">Publish</span></li>
        {{/if}}
        <li><a href="/browse">Browse</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      {{#if user}}
      <div class="btn-group">
        <div class="btn content-card-small-avatar"
             data-user="{{user.handle}}"
             data-toggle="dropdown"></div>

        <ul class="dropdown-menu" role="menu">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </div>
      {{else}}
      <a href="/auth/login/" >
        <div class="button"><span class="octocat"></span>Login with GitHub</div>
      </a>
      {{/if}}
    </div>
    <div class="header-left">
        <a href="/"><div class="header-logo">dat</div></a>
      <div class="header-search-box">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn"><span class="fui-search"></span></button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>