.app-page {
  padding-top: 80px;
  background-color: #fff;
  min-height: 700px;
  overflow: auto;
}

.app-text-container{
  margin: auto;
  background-color: #fff;
  padding: 25px;
  min-width: 545px;
  max-width: 800px;
}