h1 {

}

.mono {
  font-family: monospace;
}

a {
  transition: all 0.15s ease;
  color: @green;
  &:hover {
    color: @green;
    text-decoration: underline;
  }
}
.muted,
.dark-text {
  color: @dark-text;
}